---
// import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <div class="bg-[#808888]">
        <h1>Welcome to Astro</h1>
        <p>
            Astro is a new kind of static site builder that delivers lightning-fast performance with a modern developer experience.
        </p>
        <p>
            <a href="https://docs.astro.build" target="_blank">Read the Docs</a>
        </p>
    </div>
  </body>
</html>